# gradle

.gradle/
build/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# other

Minecraft_Client.launch
Minecraft_Server.launch

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/